@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
    display: flex;
    margin: 0 130px;
    justify-content: space-between;
} 
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   list-style: none; 
}
#title{
    font-size: 24px;
    font-weight: 700;
    color: rgb(58, 58, 58);
}
.influencer{
    margin: 0 130px;
    display: flex;
    
}
.influencer-left{
    justify-content: center;
    align-items: center;
}
.influencer-title{
    font-size: 52px;
    font-weight: 700;
    color: rgb(58, 58, 58);
}
.influencer-description{
    font-size: 16px;
    font-weight: 600;
    color: rgb(168, 162, 162);
}
.btn{
    background-color: rgb(224, 44, 109);
    border-radius: 41px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding: 8px;
    border: none;
}
#right{
    align-items: center;
    image-resolution: 100%;
}
.influencer-right{
    background-image: url("bgimg.jpg");
    width: 475px;
    height: 475px;
    background-size: cover;
    border: 4px dashed palevioletred;
    
}
.sponsors{
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.hr{
    margin: 0 130px;
}

.caption-bar{
    margin: 0 130px;
    color: rgb(58, 58, 58);
    font-size: 28px;
    font-weight: 600;
    text-align: center;

}
.products{
    margin: 0 130px;
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 8px;

}
.product-container{
    width: 320px;
    height: 376px;
    background-color: rgb(200, 112, 112);
    border-radius: 8px;
    padding: 8px;
}
.seemore{
    margin: 0 130px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(224, 44, 109, 0.87);
    text-align:right;
}
.footer-under{
    display: flex;
    margin: 0 130px;
}
.footer-title{
    font-size: 38px;
    font-weight: 700;
    color: rgb(10, 8, 38);
    margin-left: 60px;
}
.footer-description{
    font-size: 16px;
    font-weight: 700;
    color: rgb(108, 108, 108);
    margin-left: 60px;
}
.btn-second{
    background: rgb(224, 44, 109);
    font-size: 16px;
    font-weight: 700;
    margin-left: 60px;
}
.foooter{
    /* margin: 0 130px; */
   background-color: rgb(27, 3, 3);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
}
.twenty-four{
    font-size: 24px;
    font-weight: 700;
}
.fourteen{
    font-size: 14px;
    font-weight: 700;
}

/* media queries style  */
@media screen and (max-width:576px){
    .navbar, search-icon{
        display: none;
    }
   
    .influencer{
        flex-direction: column-reverse;
        margin:0;
        margin-left: 0;
    }
    .sponsors{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        margin: 0;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
    .footer-under{
        flex-direction:column-reverse;
        margin: 0;
    }
}